* {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

#navbar {
    height: 10vh;
    font-size: 20px;
}

.container-chat {
    width: 100%;
    margin-top: 0.5vh;
}

::-webkit-scrollbar {
    width: 0px;
}

#ul-msg {
    padding-left: 5px;
    overflow: auto;
    height: 83vh;
    margin-bottom: 0;
}

.msg-item {
    display: block;
}

.card-msg {
    /*background-color: green;*/
    position: relative;
}

.card-msg p {
    margin-top: 5px;
}

.avatar {
    width: 50px;
    height: 50px;
}

.container-choice {
    background-color: #fff;
    position: relative;
    margin-left: 50px;
    margin-top: 0;
    margin-bottom: 10px;
}

.container-choice-item {
    padding: 5px;
    margin: 5px;
    margin-bottom: 5px;
    float: left;
    border-radius: 5px;
}

#footer {
    width: 100%;
}

.input-group {
    margin-top: 0.5vh;
    height: 7vh;
}

.notActivity {
    display: none;
}