<div class="wallpaper"></div>

<div class="container-app notActivity" id="container-app">
	<div class="header">
		<div class="header-item-i">
			<i class="fa fa-window-maximize" onclick="fullScreen()"></i>		
			<i class="fa fa-power-off" onclick="alert('power')"></i>
		</div>
		<div class="header-item-label" for="">Aguardando Atendente</div>
	</div>	
	<div class="areaMessages wallpaper">
	</div>
	<input class="input input-message" type="text" id="message" name="message" placeholder="Digite uma mensagem">
	<button class="input button-send" onclick="sendMessage()">
		<i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
	</button>
</div>

<div class="fist-stepp notActivity" id="fist_stepp">
	<label class="label-fist-step" for="email">E-mail:</label>	
	<input class="input-fist-step" type="text" id="email" name="email" placeholder="Digite seu e-mail" required="true" value="">
	<label class="label-fist-step" for="username">Nome:</label>	
	<input class="input-fist-step" type="text" id="username" name="username" placeholder="Digite seu nome" required="true" value="">
	<button class="button-defalt button-show-chat" id="button-show-chat" onclick="activeChat()">Entrar</button>
</div>

<button class="button-defalt button-show-fist-step" id="button_show_fist_step" onclick="activeContainerEmail()">Atendimento <i class="fa fa-comments-o"></i></button>
<input type="hidden" id="port_heroku" value="{{port}}">
